/*nav bar jazz*/
nav, .block_element {
    height: 50px;
    background-color: black;
}
.inline-block {
    font-family: 'montserrat';
    color: #ffadf2;
    font-size: 18px;
    display: inline-block;
    padding: 15px;
    float: right;
}
.sectionLabel {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 200;
    
}
/*hero section*/
.heroSpace {
    height: 600px;
    padding: 15px;
    text-align: center;
}
.nameTitle {
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 300px;
}
#justTitle {
    font-family: 'Montserrat';
    font-size: 20px;
}
#bio {
    width: 600px;
    height: 100px;
    display: inline-block;
    
}
.normalContent {
    font-family: 'Open sans';
}
#profilePic {
    float: center;
    height: 200px;
    width: 200px;
    display: inline-block;
}
.heroContent {
    text-align: center;
    display: block;
}

/*case studies section*/


/*new work section*/
.workGrid {
    display: grid;
    
    grid-row-gap: 15px;
    grid-template-areas: 
    "hmiImage hmiContent"
    "oneWayImage oneWayContent"
    ;
    
}

.workImg {
    height:160px;
    width:160px;
}
.workTitle {
    font-family: 'open sans';
    font-size: 16px;
}
.workContent {
    font-family: 'open sans';
    font-size: 14px;
}
.gridChild {
    height: 200px;
}
button {
    height: 26px;
    width: 60px;
    background-color: black;
    border-radius: 5px;
}
.otherAction {
    font-family: 'montserrat';
    font-size: 18px;
    font-weight: 200px;
    margin-left: 100px;
}

/*About me section*/
.normalContent {
    width: 800px;
    text-align: justify;
    justify-content: center;
    display: inline-block;
    
}

/*new skills section*/
.newSkills {
    font-family: 'montserrat';
    font-size: 26px;
}
.cardLabel {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 100;
}
.flexContainer {
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    font-family: 'Montserrat';
}
#uxCard {
    width: 33%;
    background-color: cornflowerblue;
    margin-right: 5px;
    border-radius: 12px;
    text-align: center;
}
#uiCard {
    width: 33%;
    background-color: darkgoldenrod;
    margin-right: 5px;
    border-radius: 12px;
    text-align: center;
}
#webDevCard {
    width: 33%;
    background-color: chartreuse;
    border-radius: 12px;
    text-align: center;
}
.cardImg {
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

/*footer*/ 

#footContainer {
    height: 169px;
    background-color: black;
    text-align: center;
    padding-top: 69px;
}

#footQuote {
    font-size: 14px;
    font-family: 'Open sans';
    color: white;
}
#email {
    font-size: 14px;
    font-family: 'Open sans';
    color: white;
    margin-top: 20px;
}

/*media query*/
@media only screen and (max-width: 600px) {
   
    #profilePic {
        height: 80px;
        width: 80px;
    }
    .workGrid {
        display: grid;
        grid-template-areas: 
        "hmiImg"
        "hmiContent"
        "oneWayImg"
        "oneWayContent";
    }
    .flexContainer {
        flex-direction: column;
    }
}